<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/NaviSafe_Logo.svg">
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!--<link rel="stylesheet" href="~/NaviSafe.styles.css" asp-append-version="true" />-->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        // Optionally extend Tailwind (example keeps it minimal)
        tailwind.config = {
          theme: {
            extend: {
              container: { center: true, padding: { DEFAULT: '1rem', md: '1.5rem' } }
            }
          }
        }
    </script>
</head>
<body class="bg-cyan-50">
<header>
    <!-- From Uiverse.io by Shubh0408 --> 
    <label>
        <div class="w-9 h-10 cursor-pointer flex flex-col items-center justify-center">
            <input class="hidden peer" type="checkbox" />
            <div
                class="w-[50%] h-[2px] bg-black rounded-sm transition-all duration-300 origin-left translate-y-[0.45rem] peer-checked:rotate-[-45deg]"
            ></div>
            <div
                class="w-[50%] h-[2px] bg-black rounded-md transition-all duration-300 origin-center peer-checked:hidden"
            ></div>
            <div
                class="w-[50%] h-[2px] bg-black rounded-md transition-all duration-300 origin-left -translate-y-[0.45rem] peer-checked:rotate-[45deg]"
            ></div>
            
            
        </div>
        
        <ul class="menu dropdown-content bg-base-100 rounded-box z1 w-52 p-2 shadow-sm">
            <li><a>Test1</a></li>
            <li><a>Test2</a></li>
            <li><a>Test3</a></li>

        </ul>
    </label>
    
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - NaviSafe - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
